<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Navitaire.Ncui.RuntimeHost.Configuration" type="Navitaire.Ncui.Configuration.RuntimeHostConfigurationSection, Navitaire.Ncui"/>
    <section name="Navitaire.Ncl.ComponentManager" type="Navitaire.Ncl.ComponentManagement.ComponentManagerConfigurationSection, Navitaire.Ncl"/>
    <section name="Navitaire.NewSkies.UI.AddOnServices"
      type="Navitaire.NewSkies.UI.AddOnServices.Configuration.AddOnServicesConfigurationSection, UI.AddOnServices"/>
  </configSections>

  <runtime>
        <gcServer enabled="true"/>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <!-- Microsoft.Diagnostics.EventFlow (1.1.0) references Newtonsoft.Json (9.0.0).  But we need Newtonsoft.Json (10.0.0.0) for NCA health monitor service and 11.0.0.0 for Core.ServiceHost. -->
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
                <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67"/>
                <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.3.0.0"/>
            </dependentAssembly>
            <!-- For Framework.sln: -->
            <dependentAssembly>
                <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51"/>
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
            </dependentAssembly>
	          <dependentAssembly>
	              <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51"/>
	              <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1"/>
	          </dependentAssembly> 
            <dependentAssembly>
                <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51"/>
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a"/>
                <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a"/>
                <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1"/>
            </dependentAssembly>
        </assemblyBinding>
      </runtime>

    <system.serviceModel>
      <client>
        <endpoint name="ServiceDirectoryEndpoint" address="net.tcp://wbcnvueprerez01/Nova.ServiceReflector4.NetTcp.WebService/Services/ServiceDirectory.svc"
          binding="netTcpBinding" bindingConfiguration="netTcp" contract="Navitaire.Ncl.ComponentManagement.Services.IServiceDirectoryService"/>
      </client>
      <bindings>
           <netTcpBinding>
              <binding name="netTcp" maxBufferSize="8388608" maxReceivedMessageSize="2147483647" receiveTimeout="00:15:00" sendTimeout="00:15:00">
                  <security mode="None"/>
                  <readerQuotas maxDepth="32" maxArrayLength="16384" maxStringContentLength="2147483647"/>
              </binding>
          </netTcpBinding>
     </bindings>
  </system.serviceModel>
          
 <Navitaire.Ncui.RuntimeHost.Configuration>
    <settings>
        <setting eventBusType="Navitaire.Ncl.Eventing.EventBus, Navitaire.Ncl"/>
        <extenders>
            <!--<extender type="Navitaire.NewSkies.UI.Common.Extenders.TranslatorExtender, UI.Common" />-->
            <extender type="Navitaire.NewSkies.UI.Common.Extenders.BindExtender, UI.Common"/>
            <extender type="Navitaire.NewSkies.UI.Win.Rez.Core.Extenders.ChildDependencyExtender, UI.Win.Rez.Core"/>
            <extender type="Navitaire.Ncui.Wpf.Extenders.ChildDependencyInjectionExtender,Navitaire.Ncui.Wpf"/>
            <extender type="Navitaire.NewSkies.UI.Common.Extenders.ViewPresenterBindExtender, UI.Common"/>
        </extenders>
    </settings>

    <services>
        <service name="NamlExtensibilityService" type="Vueling.Modules.PluginsEngine.Services.NamlExtensibilityService, Vueling.Modules.PluginsEngine.Library">
           <locations>
              <location path="SkySpeedPlugins"/>
           </locations>
        </service>
        <service type="Vueling.Modules.PluginsEngine.Services.PluginsAssemblyResolverService, Vueling.Modules.PluginsEngine.Library">
           <path location="SkySpeedPlugins"/>
        </service>
        <service type="Vueling.Modules.PluginsEngine.Services.LogService, Vueling.Modules.PluginsEngine.Library">
           <writer eventTypes="All" type="Vueling.SkySpeed.Desktop.LogWriters.SkySpeedCommonLog, Vueling.SkySpeed.Desktop" logPath="C:/VuelingApps/Logs/"
              patternLayout="%date %-5level - %message%newline"/>
        </service>
        <service type="Vueling.Modules.PluginsEngine.Services.BootStrapService, Vueling.Modules.PluginsEngine.Library"/>
        <service name="PluginDownloaderService" type="Vueling.Modules.PluginsEngine.Services.PluginDownloaderService, Vueling.Modules.PluginsEngine.Library">
           <repositories>
              <ftp id="IntSFtp" secure="true" address="sftp.vueling.com" port="22" user="usr_r_pre_skyspd" password="ORJ1njsE" dir="data/4.4.2.263"/>
           </repositories>
        </service>
        <service type="Navitaire.Ncui.Services.CacheService, Navitaire.Ncui"/>
        <service type="Navitaire.Ncui.Win.Services.UserPreferencesService, Navitaire.Ncui.Win">
            <file file="{ApplicationData}Navitaire\NewSkies\SkySpeed.prefs"/>
        </service>
        <service name="UserPreferencesService" type="Navitaire.NewSkies.UI.Win.Common.Services.UserPreferencesService, UI.Win.Common">
            <pref prefCode="SKYSPEEDUSERPREFS" prefName="SkySpeed User Preferences"/>
        </service>
        <service type="Navitaire.Ncui.Win.Services.HelpContextService, Navitaire.Ncui.Win">
            <helpdefinition uri="HelpMap.naml"/>
        </service>
        <service type="Navitaire.Ncui.Wpf.Services.HelpContextService, Navitaire.Ncui.Wpf">
            <helpdefinition uri="HelpMap.naml"/>
        </service>
        <service type="Navitaire.Ncui.Win.Services.StylePreviewService, Navitaire.Ncui.Win">
            <persistentStore name="Agent Settings" type="Navitaire.NewSkies.UI.Win.Rez.Core.AgentSettingsStyleStore, UI.Win.Rez.Core"/>
            <!--<persistentStore name="File System" type="Navitaire.NewSkies.UI.Win.Rez.Core.FileSystemStore, UI.Win.Rez.Core" customStyleFile="Styles.naml"/>-->
        </service>
        <service name="ResourceCacheService" type="Navitaire.NewSkies.UI.Common.Services.ResourcesCacheService, UI.Common.Services">
            <cacheStrategy type="Navitaire.NewSkies.UI.Win.Common.CacheStrategy, UI.Win.Common"/>
        </service>
        <service name="UserSessionService" type="Navitaire.NewSkies.UI.Common.Services.UserSessionService, UI.Common.Services"/>
        <service name="DialogManagerService" type="Navitaire.Ncui.Win.Services.DialogManagerService, Navitaire.Ncui.Win"/>

        <service name="WpfDialogManagerService" type="Navitaire.Ncui.Wpf.Services.DialogManagerService, Navitaire.Ncui.Wpf"/>

        <service name="DialogManagerService" type="Navitaire.Ncui.Win.Services.DialogManagerService, Navitaire.Ncui.Win"/>

        <service type="Vueling.Modules.Ncl.Extensions.Services.LazyPluginDiscoveryService, Vueling.Modules.Ncl.Extensions.Library">
            <locations>
                <location path="SkySpeedPlugins"/>
            </locations>
            <targets>
                <target type="naml"/>
            </targets>
        </service>
        <service type="Navitaire.Ncui.Win.Services.WinResourceManagerService, Navitaire.Ncui.Win">
            <resources>
                <resource type="Navitaire.NewSkies.UI.Win.Common.Properties.ValidationResources, UI.Win.Common"/>
            </resources>
        </service>
        <service type="Navitaire.NewSkies.UI.Win.Common.Services.WinValidationLocalizationService, UI.Win.Common">
        </service>
        <service type="Navitaire.Ncui.Win.Services.CommandReceiverService, Navitaire.Ncui.Win">
            <receiver windowName="Navitaire.SkySpeed.CommandReceiverWindow"/>
        </service>
        <service type="Navitaire.Ncui.Services.CommandManagerService, Navitaire.Ncui"/>
        <!--<service type="Navitaire.Client.Profiler.Shared.ApplicationServices.ClientProfilerService, Navitaire.Client.Profiler.Shared"/>-->
        <service name="ConfigurationService" type="Vueling.Modules.PluginsEngine.Configuration.ConfigurationService, Vueling.Modules.PluginsEngine.Library"/>
    </services>
  </Navitaire.Ncui.RuntimeHost.Configuration>

  <!-- Component Manager Factories -->
  <Navitaire.Ncl.ComponentManager>
    <factories>
      <add priority="1" type="Navitaire.Rpc.NclIntegration.RpcClientFactory, Navitaire.Rpc.NclIntegration"
        catalogType="Navitaire.Rpc.NclIntegration.RpcClientCatalog, Navitaire.Rpc.NclIntegration"
        catalogLoadStrategyType="Navitaire.Rpc.NclIntegration.RpcClientCatalogLoadStrategy, Navitaire.Rpc.NclIntegration">
        <properties>
          <add key="discoveryAddress" value="https://RZURETST500-VY:28654"/>
        </properties>
      </add>
      <!--
      <add priority="2" type="Navitaire.Ncl.ComponentManagement.RemotingClient.RemotingClientFactory, Navitaire.Ncl" 
           catalogType="Navitaire.Ncl.ComponentManagement.RemotingClient.RemotingClientCatalog, Navitaire.Ncl" 
           catalogLoadStrategyType="Navitaire.Ncl.ComponentManagement.RemotingClient.RemotingClientCatalogLoadStrategy, Navitaire.Ncl"/>
      -->
    </factories>
  </Navitaire.Ncl.ComponentManager>

  <system.runtime.remoting>
        <channelSinkProviders>
            <clientProviders>
                <provider id="boilerplate" type="Navitaire.Ncl.ServiceModel.Remoting.BoilerplateClientSinkProvider, Navitaire.Ncl.ServiceModel"/>
                <provider id="client.zlib" type="Navitaire.Ncl.Compression.SharpZipLib.Remoting.CompressionClientSinkProvider, Navitaire.Ncl"/>
                <provider id="client.encryption" type="Navitaire.Ncl.Encryption.Remoting.SecureClientSinkProvider, Navitaire.Ncl"/>
                <provider id="client.details" type="Navitaire.NewSkies.ClientServices.Common.ClientDetailsClientSinkProvider, ClientServices.Common"/>
		        <!--<provider id="client.logActivity" type="Navitaire.NewSkies.UI.Common.LogActivityClientSinkProvider, UI.Common" />-->
            </clientProviders>
        </channelSinkProviders>
        <application>
        <channels>
            <channel ref="tcp">
                <clientProviders>
                    <provider ref="boilerplate" ChannelType="Direct"/>
                    <provider ref="client.details" ChannelType="Direct" ServerVariables="HTTP_X_FORWARDED_FOR,HTTP_CLIENT_IP,HTTP_CLIENT_ID"
                        LogNonRoutable="true"/>
                    <!--<provider ref="client.logActivity" />-->
                    <formatter ref="binary"/>
                    <provider ref="client.encryption"/>
                    <!-- client.zlib adds Compression to the Sinks on the Client side -->
                    <provider ref="client.zlib"/>
                </clientProviders>
            </channel>
        </channels>
        </application>
        </system.runtime.remoting>

  <appSettings>
    <add key="version" value="1.0.0.0"/>
    <add key="Environment" value="testr4x"/>
    <add key="Domain" value=""/>
    <add key="ReturnPerformanceResults" value="true"/>
    <add key="ShowSeatGroupsOnSeatMap" value="true"/>
    <add key="CheckAlertNewsDurationInSeconds" value="300"/>
    <add key="ServiceDirectoryServiceUri" value="tcp://RZURETST500-VY:28634/NewSkies.ServiceDirectory"/>
    <add key="SecuredRemoting" value="true"/>

    <!--TravelCommerce-->
    <add key="TCImageBasePath" value=""/>
    <add key="TCCompanyCode" value="VY"/>
    <!-- If this value is empty, images will be used that correspond to the user's culture (or be "broken" if an image doesn't exist for that culture)
        If this value is non-empty, images from this culture will ALWAYS be used. -->
    <add key="TCImageCultureOverride" value="en-US"/>
    
    <!-- Enable or disable response compression for responses received through Navitaire.Rpc protocol.  Does not affect .NET Remoting calls. -->
    <add key="EnableResponseCompression" value="true"/>
    <!-- Enable or disable validation of server SSL certificates through Navitaire.Rpc protocol.  Does not affect .NET Remoting calls. -->
    <add key="ValidateServerTlsCertificate" value="false"/>
    <add key="PluginsPath" value="%LOCALAPPDATA%\Navitaire\NewSkies\SkySpeed\testr4x\VuelingPlugins"/>
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
